[submodule "程序"]
	path = 程序
	url = https://gitcode.com/CrossDark/UnderHellCodes.git
[submodule "模板"]
	path = 模板
	url = https://gitcode.com/CrossDark/UnderHellTemplate.git
[submodule "文档"]
	path = 文档
	url = https://gitcode.com/CrossDark/UnderHellDocs.git
[submodule "图片"]
	path = 图片
	url = https://gitcode.com/CrossDark/UnderHellImages.git
